.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}

/* .projects-list {
  padding-top: 30px;
} */

.project-card {
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  margin: 50px 0px;
  /* background: rgba(255, 255, 255, 0.161);
  -webkit-box-shadow: rgba(225, 225, 225, 0.35) 0px 0px 25px;
  -moz-box-shadow: rgba(225, 225, 225, 0.35) 0px 0px 25px;
  box-shadow: rgba(225, 225, 225, 0.35) 0px 0px 25px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
	border: 0px solid rgba(255, 255, 255, 0.29); */
}

.project-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.project-card:nth-child(even) {
  flex-direction: row;
}

.project-image {
  border-radius: 10px;
}

.project-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-name {
  font-size: 34px;
  font-weight: bold;
}

.project-description {
  color: #767676;
}

.project-footer {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.project-footer button {
  text-transform: none;
}
