.about-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5rem 0rem;
}

.about-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-left img {
  border-radius: 50px;
  animation: 1s fade-in-move-right ease-in forwards;
}

.about-right {
  width: 50%;
}

.about-right-section-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}
.about-right-section-header.mobile {
  display: none;
}

.about-right-heading {
  font-size: 34px;
  font-weight: bold;
  margin-top: 10px;
}

.about-right-desc {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
}

.about-right-stack {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  width: 100%;
}

.about-right-stack img {
  border-radius: 10px;
}

@media screen and (max-width: 512px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
  }
  .about-left img {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    margin: 20px 0px;
  }
  .about-right-section-header {
    display: none;
  }
  .about-right-section-header.mobile {
    display: block;
  }
  .about-right {
    width: 100%;
  }
  .about-right-heading {
    font-size: 30px;
  }
  .about-right-desc {
    font-size: 14px;
    text-align: justify;
  }
  .about-right-stack {
    /* grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-wrap: wrap;
  }
}

@keyframes fade-in-move-right {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
