.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg);
  color: var(--text);
}

.nav-left {
  font-size: 30px;
  font-weight: 600;
  /* font-family: "__Inter_e66fe9"; */
}

.nav-right {
  display: flex;
  align-items: center;
  column-gap: 45px;
}

.nav-right.mobile {
  display: none;
}

.nav-right .nav-right-item {
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
  background: transparent;
  text-align: left;
  border: none;
  color: var(--text);
}

.nav-right .nav-right-item:hover {
  color: var(--primary);
}

@media screen and (max-width: 512px) {
  .nav-right.desktop {
    display: none;
  }
  .nav-right.mobile {
    display: flex;
  }
  .nav-left {
    font-size: 22px;
  }
  .nav-right-icon {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  /* .nav-right-icon.close {
    animation: fadein 1s ease normal reverse;
  } */
  .nav-right-list {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #000;
    /* animation: 0.5s ease-in grow-height forwards; */
    transition: all 1s;
  }
  .nav-right-list .nav-right-item {
    padding: 10px;
    width: 100%;
    opacity: 0;
  }
  .nav-right-list .nav-right-item:first-child {
    animation: 250ms linear 150ms fade-in forwards;
  }
  .nav-right-list .nav-right-item:nth-child(2) {
    animation: 250ms linear 300ms fade-in forwards;
  }
  .nav-right-list .nav-right-item:nth-child(3) {
    animation: 250ms linear 450ms fade-in forwards;
  }
  .nav-right-list .nav-right-item:nth-child(4) {
    animation: 250ms linear 600ms fade-in forwards;
  }
}

@keyframes grow-height {
  0% {
    height: 0px;
  }
  100% {
    height: 173px;
  }
}
