.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  font-size: 30px;
  font-weight: 600;
  font-family: "__Inter_e66fe9";
}

.nav-right {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.nav-right .nav-right-item {
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.nav-right .nav-right-item:hover {
  color: var(--primary);
}
